*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#headerTop{
    background-color: lightgrey;
}
.container{
    width:1200px;
    margin-left: auto;
    margin-right: auto;
 }
 #flag{
    width: 16px;
    margin-right: 8px;
}
#headerTop .container{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}
#headerLanguage{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}

#logo{
    width: 50px;
}
icon{
    width: 24px;
}
#headerCenter .container{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}
#headerCenterSearch{
    display : flex;
    flex-direction : row;
    align-items : center;
    background-color: white;
    border: 2px solid rgb(158, 153, 153);
    padding: 8px; 
    width: 600px;
    border-radius: 8px;
}
#headerCenterSearch input{
    border: none;
    width: 100%;
    outline: none;
}
#headerCenter{
    padding-bottom: 8px;
    padding-top: 8px;
}
.headerLogo{
    display : flex;
    flex-direction : row;
    align-items : center;
}
#searchIcon{
    opacity: 70%;
}